:root {
    --header: rgba(28, 80, 212, 0.9);
    --yellow-100: rgba(226, 229, 71, 0.92);
    --yellow-300: rgba(113, 231, 94, 0.75);
    --neutral-800: rgba(44, 43, 43, 1);
    --neutral-400: rgba(133, 133, 133, 1);
    --neutral-950: rgba(0, 0, 0, 1);
    --white-100: rgba(255, 255, 255, 1);
    --white-200: rgba(245, 242, 242, 1);
    --dark-grey-400: rgba(33, 43, 54, 1);
    --btn: rgba(78, 130, 232, 0.75);
    --all-title-font-family: "Inter-Bold", Helvetica;
    --all-title-font-weight: 700;
    --all-title-font-size: 38.900001525878906px;
    --all-title-letter-spacing: 0px;
    --all-title-line-height: normal;
    --all-title-font-style: normal;
    --all-normal-font-family: "Inter-Bold", Helvetica;
    --all-normal-font-weight: 700;
    --all-normal-font-size: 26px;
    --all-normal-letter-spacing: 0px;
    --all-normal-line-height: normal;
    --all-normal-font-style: normal;
    --all-banner-font-family: "Inter-Bold", Helvetica;
    --all-banner-font-weight: 700;
    --all-banner-font-size: 20.714px;
    --all-banner-letter-spacing: 0px;
    --all-banner-line-height: normal;
    --all-banner-font-style: normal;
    --recipes-title-font-family: "Inter-Bold", Helvetica;
    --recipes-title-font-weight: 700;
    --recipes-title-font-size: 24px;
    --recipes-title-letter-spacing: 0px;
    --recipes-title-line-height: normal;
    --recipes-title-font-style: normal;
    --recipes-text-font-family: "Inter-Regular", Helvetica;
    --recipes-text-font-weight: 400;
    --recipes-text-font-size: 24px;
    --recipes-text-letter-spacing: 0px;
    --recipes-text-line-height: normal;
    --recipes-text-font-style: normal;
    --logo-text-big-font-family: "Inter-SemiBold", Helvetica;
    --logo-text-big-font-weight: 600;
    --logo-text-big-font-size: 46.130001068115234px;
    --logo-text-big-letter-spacing: 0px;
    --logo-text-big-line-height: normal;
    --logo-text-big-font-style: normal;
    --logo-text-small-font-family: "Inter-Medium", Helvetica;
    --logo-text-small-font-weight: 500;
    --logo-text-small-font-size: 26px;
    --logo-text-small-letter-spacing: 0px;
    --logo-text-small-line-height: normal;
    --logo-text-small-font-style: normal;
  }
  