
/* body */

body {
  font-family: "Inter-Bold", Helvetica;
  background-color: #ffffff;
  margin: 0; /* Убирает отступы по краям */
  padding: 0; /* Убирает внутренние отступы */
  overflow-x: hidden; /* Убирает горизонтальную прокрутку */
  height: 100%; /* Страница занимает всю высоту экрана */
  display: flex; /* Используем Flexbox для организации */
  flex-direction: column; /* Контент выстраивается вертикально */
}



/* endbody */

/* header */

.header {
  height: 80px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center; /* Добавляем это свойство */
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: var(--yellow-300);
}

.logo {
  width: 150px;
  height: 20px;
  position: relative;
  font-weight: bold;
}

.header a {
  text-decoration: none; /* Убирает подчеркивание */
  color: black; /* Устанавливает черный цвет */
}

.search-bar {
  width: 600px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-left: 15px;
  color: #333333;
  position: relative;
  margin-right: 50px;
}
input {
  width: 400px;
  justify-content: flex-start;
  margin-top: 5px;
}
.search-bar::before {
  content: "\f002";
  position: absolute;
  top: 7px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.navigation {
  justify-content: flex-end;
  gap: 30px;
  display: flex;
  align-items: center;
}

/* .navigation a {
  font-size: 16px;
  color: #333333;
} */

/* endheader */

/* footer */

.wrapper {
  flex: 1; /* Занимает оставшееся пространство */
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: var(--yellow-300); /* Цвет фона футера */
  color: #000; /* Цвет текста */
  padding: 20px 0; /* Отступы сверху и снизу */
  text-align: center;
  width: 100%;
  flex-shrink: 0; /* Гарантия, что футер не сжимается */
}

.footer-content {
  max-width: 1200px; /* Максимальная ширина контента футера */
  margin: 0 auto; /* Центрируем футер */
  display: flex; /* Используем флекс для размещения элементов */
  flex-direction: column; /* Элементы располагаются вертикально */
  align-items: center;
  gap: 20px;
}

.logo-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-wrapper-4 {
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.icon-2 {
  width: 50px;
  height: 50px;
}

.footer-info {
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease; /* Добавляем анимацию при наведении */
}

.social-icons a:hover img {
  transform: scale(1.1); /* Увеличение иконки при наведении */
}
/* endfooter */

/* banner */

.banner {
  position: relative;
  width: 100%;
  height: 150px;

}

.banner img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.5); /* Черный фон с 50% прозрачности */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .overlay .p {
  color: white; /* Цвет текста */
  font-family: var(--all-banner-font-family);
  font-weight: var(--all-banner-font-weight);
  font-size: var(--all-banner-font-size);
  letter-spacing: var(--all-banner-letter-spacing);
  line-height: var(--all-banner-line-height);
  font-style: var(--all-banner-font-style);
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

/* endbanner */

/* content */

.content-title {
  font-family: var(--all-banner-font-family);
  font-weight: var(--all-banner-font-weight);
  font-size: var(--all-banner-font-size);
  margin: 20px; /* Отступ со всех 4 сторон */
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  flex-direction: column;
  position: relative;
}
.cards {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.card {
  width: 250px;
  position: relative;
  height: 350px;
}

.featured-image {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.card-description {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 212px;
  left: 0;
  background-color: var(--white-200);
  border-radius: 0px 0px 33px 33px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  top: 100px;
  padding: 58px 27.5px 42px 28.5px;
  gap: 12px;
}

.btn{
  position: sticky;
  display: flex;
  width: 58px;
  height: 25px;
  padding: 9px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 32px;
  background: var(--btn, rgba(78, 130, 232, 0.75));
}

.text{
  color: var(--Neutral-800, #2C2B2B);
  font-family: Inter;
  font-size: 20.714px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 18px;
  position: absolute;
  top: 29px;
  left: 38px;
}

.name {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutral-800);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.description {
  position: relative;
  height: 51px;
  width: 327px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutral-800);
  font-size: 20.7px;
  letter-spacing: 0;
  line-height: normal;
}

/* endcontent */

/* login */

.welcome{
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  flex-direction: column;
  position: relative;
}

.login img{
  width: 100%;
  height: 580px;

  position: sticky;
  object-fit: cover;
  flex-shrink: 0;
}

.login .frame{
  position: absolute;

  background-color: #ffffff;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
}

.login .box{
  position: relative;
  border-radius: 5px;
  border: 0.5px solid #AFA9A9;
  background: rgba(217, 217, 217, 0.50);

  flex-direction: column;
  justify-content: center;

  width: 500px; 
  height: 89.041px;
  flex-shrink: 0;

}

.login .text{
  position: absolute;
  width: 77.519px;
  height: 35.28px;
  color: rgba(126, 124, 124, 0.40);
  font-family: "Roboto";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}