<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="favourites">
      <div class="div">
        <footer class="footer">
          <div class="logo">
            <div class="text-wrapper">NutriFood</div>
            <img class="icon" src="img/icon-3.svg" />
          </div>
          <div class="footer-info">
            <img class="icons" src="img/icons.svg" />
            <div class="text-wrapper-2">Социальные сети</div>
          </div>
        </footer>
        <div class="frame">
          <div class="card">
            <div class="overlap-group">
              <div class="background"></div>
              <button class="button"><div class="text-wrapper-3">350 kcal</div></button>
              <button class="div-wrapper"><div class="text-wrapper-4">90 min</div></button>
              <img class="img" src="img/button-2.svg" />
              <div class="text-info">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-11.png" />
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-group">
              <div class="background"></div>
              <button class="button"><div class="text-wrapper-3">350 kcal</div></button>
              <button class="div-wrapper"><div class="text-wrapper-4">90 min</div></button>
              <img class="img" src="img/button-5.svg" />
              <div class="text-info">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-15.png" />
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap">
              <div class="background-2"></div>
              <button class="button-2"><div class="text-wrapper-5">350 kcal</div></button>
              <button class="button-3"><div class="text-wrapper-6">90 min</div></button>
              <img class="button-4" src="img/button-9.svg" />
              <div class="text-info-2">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image-2" src="img/featured-image-12.png" />
            </div>
          </div>
          <div class="card-2">
            <div class="overlap-2">
              <div class="background-3"></div>
              <button class="button-5"><div class="text-wrapper-7">350 kcal</div></button>
              <button class="button-6"><div class="text-wrapper-8">90 min</div></button>
              <img class="button-7" src="img/button-12.svg" />
              <div class="text-info-3">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-3" src="img/featured-image-9.png" />
            </div>
          </div>
          <div class="card-3">
            <div class="overlap-group">
              <div class="background"></div>
              <button class="button"><div class="text-wrapper-3">350 kcal</div></button>
              <button class="div-wrapper"><div class="text-wrapper-4">90 min</div></button>
              <img class="img" src="img/button-15.svg" />
              <div class="text-info">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image.png" />
            </div>
          </div>
          <div class="card-4">
            <div class="overlap-3">
              <div class="background-4"></div>
              <button class="button-8"><div class="text-wrapper-9">350 kcal</div></button>
              <button class="button-9"><div class="text-wrapper-10">90 min</div></button>
              <img class="button-10" src="img/button-13.svg" />
              <div class="text-info-4">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-14.png" />
            </div>
          </div>
          <div class="card-5">
            <div class="overlap-3">
              <div class="background-4"></div>
              <button class="button-8"><div class="text-wrapper-9">350 kcal</div></button>
              <button class="button-9"><div class="text-wrapper-10">90 min</div></button>
              <img class="button-10" src="img/button-6.svg" />
              <div class="text-info-4">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-3.png" />
            </div>
          </div>
          <div class="card-6">
            <div class="overlap-3">
              <div class="background-5"></div>
              <button class="button-8"><div class="text-wrapper-11">350 kcal</div></button>
              <button class="button-11"><div class="text-wrapper-12">90 min</div></button>
              <img class="button-10" src="img/image.svg" />
              <div class="text-info-3">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-4" src="img/image.png" />
            </div>
          </div>
          <div class="card-7">
            <div class="overlap-3">
              <div class="background-5"></div>
              <button class="button-8"><div class="text-wrapper-11">350 kcal</div></button>
              <button class="button-11"><div class="text-wrapper-12">90 min</div></button>
              <img class="button-10" src="img/button-7.svg" />
              <div class="text-info-3">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-4" src="img/featured-image-6.png" />
            </div>
          </div>
          <div class="card-8">
            <div class="overlap-4">
              <div class="background-6"></div>
              <button class="button-12"><div class="text-wrapper-13">350 kcal</div></button>
              <button class="button-13"><div class="text-wrapper-14">90 min</div></button>
              <img class="button-14" src="img/button-3.svg" />
              <div class="text-info-2">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-7.png" />
            </div>
          </div>
          <div class="card-9">
            <div class="overlap-group">
              <div class="background-7"></div>
              <button class="button"><div class="text-wrapper-15">350 kcal</div></button>
              <button class="button-15"><div class="text-wrapper-16">90 min</div></button>
              <img class="img" src="img/button-14.svg" />
              <div class="text-info-5">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-4" src="img/featured-image-10.png" />
            </div>
          </div>
          <div class="card-10">
            <div class="overlap-group">
              <div class="background-7"></div>
              <button class="button"><div class="text-wrapper-15">350 kcal</div></button>
              <button class="button-15"><div class="text-wrapper-16">90 min</div></button>
              <img class="img" src="img/button-11.svg" />
              <div class="text-info-5">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-4" src="img/featured-image-4.png" />
            </div>
          </div>
          <div class="card-11">
            <div class="overlap-group">
              <div class="background"></div>
              <button class="button"><div class="text-wrapper-3">350 kcal</div></button>
              <button class="div-wrapper"><div class="text-wrapper-4">90 min</div></button>
              <img class="img" src="img/button-8.svg" />
              <div class="text-info">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-8.png" />
            </div>
          </div>
          <div class="card-12">
            <div class="overlap-group">
              <div class="background"></div>
              <button class="button"><div class="text-wrapper-3">350 kcal</div></button>
              <button class="div-wrapper"><div class="text-wrapper-4">90 min</div></button>
              <img class="img" src="img/button-4.svg" />
              <div class="text-info">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-2.png" />
            </div>
          </div>
          <div class="card-13">
            <div class="overlap-3">
              <div class="background-5"></div>
              <button class="button-8"><div class="text-wrapper-11">350 kcal</div></button>
              <button class="button-11"><div class="text-wrapper-12">90 min</div></button>
              <img class="button-10" src="img/button-10.svg" />
              <div class="text-info-3">
                <div class="name">Вафли</div>
                <div class="description-2">Крутые вафли</div>
              </div>
              <img class="featured-image-4" src="img/featured-image-13.png" />
            </div>
          </div>
          <div class="card-14">
            <div class="overlap-3">
              <div class="background-4"></div>
              <button class="button-8"><div class="text-wrapper-9">350 kcal</div></button>
              <button class="button-9"><div class="text-wrapper-10">90 min</div></button>
              <img class="button-10" src="img/button.svg" />
              <div class="text-info-4">
                <div class="name">Вафли</div>
                <div class="description">Крутые вафли</div>
              </div>
              <img class="featured-image" src="img/featured-image-5.png" />
            </div>
          </div>
        </div>
        <div class="banner">
          <div class="overlap-5">
            <div class="black-background"></div>
            <div class="text-wrapper-17">Ваши любимые рецепты</div>
          </div>
        </div>
        <header class="header">
          <div class="overlap-6">
            <div class="menu">
              <div class="search-bar">
                <div class="overlap-group-2">
                  <div class="text-wrapper-18">Введите что-нибудь</div>
                  <img class="icon-2" src="img/icon-2.svg" />
                </div>
              </div>
              <div class="menu-2">
                <div class="text-wrapper-19">Главная</div>
                <div class="text-wrapper-19">Избранное</div>
                <div class="text-wrapper-19">Вход</div>
              </div>
            </div>
            <div class="logo-2">
              <div class="text-wrapper-20">NutriFood</div>
              <img class="icon-3" src="img/icon.svg" />
            </div>
          </div>
          <div class="line"></div>
        </header>
      </div>
    </div>
  </body>
</html>
