<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/bf76ae6731.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styleguide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="logo">NutriFood</div>
      <div class="search-bar">
        <input type="text" placeholder="Введите что-нибудь">
      </div>
      <div class="navigation">
          <a href="/recipes">Рецепты</a>
          <a href="/favourites">Избранные</a>
          <a href="/login">Авторизация</a>
          {% if current_user.is_moderator %}
            <a href="{{ url_for('add_recipe') }}">Добавить рецепт</a>
          {% endif %}
      </div>
    </div>
    {% endblock %}
  
    {% block banner %}
    <div class="banner">
      <img src="/static/images/banner.png"/>
      <div class="overlay">
        <p class="p">{{ banner_title }}</p>
      </div>

    </div>
    {% endblock %}

    {% block content %}
    <div class="frame">
      <div class="text-wrapper-9">{{ title }}</div>
      <div class="cards">
        {% for recipe in recipes %}
        <div class="card">
          <div class="overlap-group-2">
            <div class="text-info">
              <div class="name"><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></div>
              <div class="description">{{ recipe.description }} </div>
            </div>
            <div class="container">
              <div class="btn"><div class="text">{{ recipe.time }}</div></div>
              <div class="btn"><div class="text">{{ recipe.kcal }}</div></div>
              <div class="btn"><div class="text">{{ recipe.likes}}</div></div>
            </div>
          </div>
          <img class="featured-image" src="/static/images/{{ recipe.image }}.png"/>
        </div>
        {% endfor %}
      </div>
    </div>

    {% endblock %}
    {% block footer %}
    <footer class="footer">
      <div class="logo-2">
        <div class="text-wrapper-4">NutriFood</div>
        <img class="icon-2" src="img/image.svg" />
      </div>
    </footer>
    {% endblock %}
  </body>
</html>

