{% extends "home.html" %}

{% block header %}
{{ super()}}
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="login">
    <img src="static\images\banner_login.png" />
    <div class="frame">
        <form method="POST" action="{{ url_for('main.login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super()}}
{% endblock %}
