{% extends "home.html" %}

{% block header %}
{{ super()}}
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="login">
    <img src="static\images\banner_login.png" />
    <div class="frame">
        <div class="welcome">Добро пожаловать</div>
        <div class="box"><input type="text" name="login" size="30"></div>
        <div class="box">Password</div>
        <div class="text">Нету аккаунта?</div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ super()}}
{% endblock %}
