{% extends "home.html" %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="frame">
  <div class="recipes-container">
    <!-- Первые рецепты, отрендеренные на сервере -->
    {% for recipe in recipes %}
        <div class="recipes-card">
        <img class="recipes-image" src="{{ recipe.image }}">
        <div class="recipes-info">
          <h3 class="recipes-name">{{ recipe.title }}</h3>
          <p class="recipes-description">{{ recipe.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="/static/js/scroll.js"></script>
{% endblock %}
